@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.titulo{
  background-color: rgba(0,0,5,0.8);
  width: 350px;
  height: 200px;
  border-radius: 5px 80px 5px 80px;
  padding: 8px;
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
 }

 .titulo > h1{
  margin: 0;
  padding: 0;
  color: white;
  margin-top: 71px;
  
 }

body {
  background-image: url(imagens/aurora-boreal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed
  
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 68px 28px; 
}

.card {
  background-color: rgba(0,0,5,0.8);
  padding: 30px;
  border-radius: 4%;
  box-shadow: 3px 3px 1px 0px #00000060;
  width: 400px;
}

h1{
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.msg{
  color: white;
}

.label-float input{
  width: 100%;
  padding: 5px 5px;
  display: inline-block;
  border: 0;
  color: white;
  border-bottom: 2px solid white;
  background-color: transparent;
  outline: none;
  min-width: 180px;
  font-size: 16px;
  transition: all .3s ease-out;
  border-radius: 0;
  
}

.label-float{
  position: relative;
  padding-top: 13px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.label-float input:focus{
  border-bottom: 2px solid white;
}

.label-float label{
  color: white;
  /*pointer-event: none;*/
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all .3s ease-out;
}

.label-float input:focus + label,
.label-float input:valid + label{
  font-size: 13px;
  margin-top: 0;
  color: white
}

input[type="submit"] {
    border: none;
    outline: none;
    height: 35px;
    color: #000;
    background: white;
    border-radius: 20px;
    transition: 0.2s;
   }

   input[type="submit"]:hover {
    cursor: pointer;
    background: #ff4d4d;
    transition: 0.2s;
   }

button:hover{
  background-color: white;
  color: #fff;
}

.justify-center{
  display: flex;
  justify-content: center;
}

.fa-eye{
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
  color: white;
}

.logar{
    color: white;
    font-size: 15px;
    text-decoration: none;
}

.logar:hover{
    color: #ff4d4d;
}

#msgError{
  text-align: center;
  color: #ff0000;
  background-color: #ffbbbb;
  padding: 10px;
  border-radius: 4px;
  display: none;
}

#msgSuccess{
  text-align: center;
  color: #00bb00;
  background-color: #bbffbe;
  padding: 10px;
  border-radius: 4px;
  display: none;
}


